.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

h2{
  margin: 30px;
}

input{
  margin-bottom: 30px;
}

.comments{
  width: 400px;
  height:75px;
  text-align: start;
}

.navRight{
  margin: 30px;
}

table{
  margin-left: auto;
  margin-right: auto;
}